<header>
    <div>
        <img src="/static/img/cube.png" alt="Cube2-Logo">
        <p>Admin-Center</p>
    </div>
    <div>
        <a href="/cubes">Cubes</a>
        <a href="/users">Users</a>
        <a href="/tokens">Tokens</a>
    </div>
</header>