<header>
    <img src="/static/img/cube.png" alt="Cube2-Logo">
    <div>
        <span>Admin-Center</span>
        <a href="/cubes">Cubes</a>
        <a href="/users">Users</a>
        <a href="/tokens">Tokens</a>
    </div>
    <div id="logout" >
        <a href="/logout">Logout</a>
    </div>
</header>