:root {
    --main-color: #7383bf;
    --contrast-color: #272D2D;
    --window-color: #f9f9f9;
    --bg-color: #FFFCFF;
    
    --shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    
    box-sizing: border-box;
}

header, footer {
    background-color: var(--bg-color);
}

header {    
    margin-bottom: 1vh;
    padding: 1vh 1vw;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    background-color: var(--window-color);
    box-shadow: var(--shadow);
}

header img {
    height: 5.5vh;
    width: auto;

    margin-right: 1vw;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header span {
    margin: 0;
    margin-right: 2.5vw;

    font-size: 2em;
}

header a {
    height: min-content;
    margin: 0;
    margin-right: 1vw;
    
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: var(--main-color);
    text-decoration: none;
}

header a:active {
    color: black;
    text-decoration: none;
}

header #logout {    
    margin-left: auto;
    margin-right: 0;
}

header #logout a {
    margin-right: 0;
}

#content {
    min-height: 90vh;
    margin: 0 1vw;
}

table {
    table-layout: auto;
    width: 100%;
    height: min-content;

    border-collapse: separate;
    border-spacing: 0 10px;
}

table thead > tr {
    background-color: var(--main-color);
    color: #ffffff;
}

table th {
    text-align: left;
    font-size: 1.5em;

    padding: 10px 0;
}

table th:first-child {
    padding-left: 15px;
}

table tr {
    box-shadow: var(--shadow);

    border-radius: 3px;
}

table td {
    padding: 10px 0;
}

table td:first-of-type {
    padding-left: 15px;
}

table td:last-of-type {
    padding-right: 15px;
}

footer {
}

.fas {
    color: var(--contrast-color);
}

.fa-button {
    cursor: pointer;
}

input.fa-button {
    font-family: FontAwesome;
    background-color: inherit;
    border: 0;
}

.fa-disabled {
    color: grey;
}

.fa-button.fa-disabled {
    cursor: not-allowed;
}