{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/app-iframe.css">
    {{#each header}}{{{this}}}{{/each}}
{{/html_head}}

<body>
    {{!Add navbar}}
    {{> navbar}}

    <input id="appAddress" type="hidden" value="{{appAddress}}">

    {{!Fill content}}
    {{#each content}}{{{this}}}{{/each}}

    {{!Add footer}}
    {{> footer}}
</body>
</html>