{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/apps-list.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
    <h1>Apps</h1>
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </thead>
            {{#each users}}
                <tr>
                    <td>
                        <span>{{this.name}}</span>
                    </td>
                    <td>
                        <span>{{this.address}}</span>
                    </td>
                    <td></td>
                    <td>
                        <a href="/apps/delete/{{this.name}}">
                            <i class="fas fa-trash fa-lg fa-button"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
                <tr>
                    <form action="/apps" method="post" id="new_app_form">
                        <td>
                            <input id="new_app_name_input" type="hidden" name="name" placeholder="name">
                        </td>
                        <td>
                            <input id="new_app_address_input" type="hidden" name="address" placeholder="address">
                        </td>
                        <td>
                            <input id="new_app_submit" class="fa-button" type="hidden" name="submit" value="&#xf00c;">
                        </td>
                        <td>
                            <i id="new_app_add" class="fas fa-plus fa-lg fa-button"></i>
                            <i id="new_app_exit" class="fas fa-times fa-lg fa-button" style="display: none;"></i>
                        </td>
                    </form>
                </tr>
        </table>
    </div>

    {{!Add footer}}
    {{> footer}}

    <script src="/static/js/apps-list.js"></script>
</body>
</html>