{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cube-detail.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
        <h2>Cube</h2>

        
    </div>

    {{!Add footer}}
    {{> footer}}
</body>
</html>