{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cubes-list.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
    {{#if cubes}}
        <table>
            <thead>
                <th>Location</th>
                <th>Id</th>
                <th></th>
            </thead>
            {{#each cubes}}
                <tr>
                    <td>{{this.location}}</td>
                    <td>{{this.cube_id}}</td>
                    <td>
                        <a href="cubes/{{this.cube_id}}">
                            <img src="/static/img/edit-regular.svg" height="20px" alt="Edit">
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>There aren't any registered cubes!</p>
    {{/if}}
    </div>

    {{!Add footer}}
    {{> footer}}
</body>
</html>